<div>
    <label>
        Title
        {{input type="text" value=title}}
    </label>
    
    <label>
        Author
        {{input type="text" value=author}}
    </label>
    
    {{textarea value=content rows="5"}}
    
    <button {{action "createPost"}}>Create Post</button>
</div>
