<div>
    <p>
        Hello! Welcome to my blog!
    </p>
    
    <p>
        As you can see by the title, it is clearly the Best Blog Ever. Really,
        don't bother disputing this self-evident truth.
    </p>
    
    <p>
        The main purpose of this page, besides telling you about this blog, is
        to demonstrate the power of navigating between different routes on the
        same page.
    </p>
</div>