<div class="row text-center">
    <h2 id="title">Best Blog Ever!</h2>
</div>

<div class="row">
    <div class="medium-8 columns">
        This is my content!
        {{outlet}}
    </div>
    <div class="medium-4 columns">
        This is my navigation!
    </div>
</div>